@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

:root {
    --primary-color: #673de6;
    --primary-color-hover: #462b96;
    --button-color: white;
    --link-color: black;
    --link-hover-color: #929292;
    --background-color: white;
}

body {
    background: var(--background-color)
}


a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 16px;
}

a:hover {
    color: var(--link-hover-color)
}

ul {
    list-style: none;
}

/* NAVBAR */


.navigation-container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    position: sticky;
    top: 0;


}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.navigation-access-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.navigation-idiom {
    font-weight: 700;
    font-size: 16px;
}

.navigation-button {
    border: 1px solid var(--link-color);
    padding: 11px 15px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 16px;
}

.navigation-button:hover {
    border: 1px solid var(--link-hover-color);
}

@media (max-width: 1024px) {
    .navigation-container-content {
        padding: 15px 20px;
    }

    .navigation-list {

        display: none;

    }

    .navigation-access-container {
        display: none;

    }

    .ham-button {
        display: block;
        z-index: 1001;
        width: 24px;
        height: 24px;
    }
}


/*  BOTON PREGUNTARLE A  KODEE */




.container {

    height: 3000px;
    margin: 0 auto;
}

button {
    border: none;
    background-color: var(--button-color)
}

.kode-button {
    background-color: var(--primary-color);
    color: var(--button-color);
    padding: 10px 25px;
    border-radius: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-weight: 600;
}

.kode-button:hover {
    background-color: var(--primary-color-hover);
}